<%=link_to("<<Back to List" ,subject_path,:class=>'back-link')%>
<div class="subjects delete">
    <h2>Delete Subject</h2>

    <%= form_for(@subject , :url=>subject_path(@subject) , :method=>'delete')  do |f|%>
        <p>Are You Sure Delete thise Object</P>
        <p class="reference-name"> <%=f.object.name%> </P>
        <div class="form-button">
            <%= f.submit("Delete Subject")%>
        </div>
    <%end%>
</div>